.add-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.btn-add-course-page {
    margin-top: 10px;
    width: 190px;
    padding: 9px 0px;
    border-radius: 7px;
    background-color: #FDC00C;
    border: 3px solid #FDC00C;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}
