*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
body {
  font-family: 'Inter', sans-serif;
}
.title {
    text-align: center;
    margin: 20px 0px;
    color: #fdc00c;
    font-weight: bold;
}
.no {
  text-align: center;
    margin-top: 70px;
    color: #FDC00C;
    font-weight: bold;
    font-size: 60px;
}